.DS_Store
log/*
tmp/**/*
vendor/gems/**/rdoc/*
config/database.yml
*.tmproj
doc/plugins/
coverage/
vendor/gems/nokogiri-*/ext/*
vendor/gems/nokogiri-*/lib/*
vendor/gems/curb-*/ext/*
vendor/gems/curb-*/lib/*
public/assets
vendor/gems/**/ext/**/Makefile
vendor/gems/**/ext/**/*.bundle
vendor/gems/**/ext/**/*.o
vendor/gems/**/lib/*.bundle
db/*.sqlite3
